body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(to right, black, rgb(148, 148, 148));
  font-weight: bold;
  color: white;
}

.login-form {
  width: 70vw;
  padding: 1rem;
  align-self: center;
  margin: 2rem auto;
  height: auto;
  min-height: 80vh;
  border: solid;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.login-form form label {
  margin-top: 1rem;
  min-width: 16rem;
}

.login-form input {
  min-width: 16rem;
  border-width: 0 0 2px;
  border-color: white;
  color: white;
  background-color: transparent;
  outline: none;
}

.login-form input::placeholder {
  color: rgb(176, 176, 176);
}

button {
  font-size: 1.25rem;
  margin-top: 2rem;
  align-self: center;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.25rem 0.75rem;
  font-weight: bold;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 0 5px white;
  transition: all 0.3s ease-out;
}

button:hover {
  box-shadow: 0 0 0 black;
}
